@mixin flex-x($justify, $align: false) {
  display: flex;
  @if $justify {
    justify-content: #{$justify};
  }
  @if $align {
    align-items: #{$align};
  }
}

@mixin flex-y($justify, $align: false) {
  display: flex;
  @if $justify {
    justify-content: #{$justify};
  }
  @if $align {
    align-items: #{$align};
  }
  flex-direction: column;
}

@mixin selected-line {
  background-color: var(--dark-grey);

  &::before {
    content: '>';
    position: absolute;
    left: -30px;
    font-weight: 600;
    font-family: var(--font-secondary);
    text-shadow: none;
  }
}

@mixin focus-shadow($color: rgba(var(--blue-rgb), 0.9)) {
  box-shadow: 0 0 0 4px $color;
}
