/* Prism overrides */
#q-app {
  pre *:not(code) {
    pointer-events: none;
  }

  pre[class*='language-'] {
    width: 100%;
    overflow: visible;
    transition: var(--focus-transition);

    &:focus {
      outline: none;
      @include focus-shadow;
    }
  }

  pre[class*='language-'].line-numbers {
    user-select: none;
    padding-left: 1em;
  }

  pre[class*='language-'].line-numbers > code {
    cursor: pointer;
    padding-left: 3em;
    transition: var(--focus-transition);

    &:hover {
      @include selected-line;
    }
    &:focus {
      outline: none;
      @include focus-shadow;
    }
  }

  .token.operator {
    background-color: transparent;
  }

  .line-numbers .line-numbers-rows {
    left: -1em;
  }
}
