@import 'variables';
@import 'mixins';
@import 'utils';

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: var(--white);
  background-color: var(--red);
}

body {
  margin: 0;
  font: 16px var(--font-primary);
  color: var(--white);
  text-shadow: 0 1px rgba(var(--black-rgb), 0.3);
  background: linear-gradient(135deg, var(--orange), var(--rose));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2em;
}

p {
  margin: 0 0 1em;
}

@mixin form-elements {
  margin: 5px;
  padding: 10px 15px;
  letter-spacing: 1.5px;
  background-color: var(--white);
  border: none;
  font-size: 1.5em;
  border-radius: 2px;
  outline: none;
  transition: box-shadow, background-color;
  transition-duration: 0.15s;
}

button {
  cursor: pointer;
  font-family: var(--font-primary);
  @include form-elements;

  &:hover {
    background-color: var(--grey);
  }

  &:focus {
    transition: box-shadow 0.15s;
    @include focus-shadow;
  }
}

input {
  @include form-elements;

  &:focus {
    @include focus-shadow;
  }
}

label {
  font-size: 1.5em;
}

a {
  color: var(--white);
  text-decoration: none;
  outline: none;

  &:focus {
    button {
      transition: box-shadow 0.15s;
      @include focus-shadow;
    }
  }
}
