@import 'variables';
@import 'mixins';
@import 'utils';

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: var(--white);
  background-color: var(--red);
}

body {
  margin: 0;
  font: clamp(0.8rem, 2vw, 1rem) var(--font-primary);
  color: var(--white);
  text-shadow: 0 1px rgba(var(--black-rgb), 0.3);
  background: linear-gradient(135deg, var(--orange), var(--rose));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:not(.tab-shadow) {
  a,
  i,
  span,
  pre,
  code {
    box-shadow: none !important;
  }
}

h1 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2em;
}

p {
  margin: 0 0 1em;
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
  letter-spacing: 1.5px;
  font-family: var(--font-primary);
  background-color: var(--white);
  border: none;
  font-size: 1.5em;
  border-radius: 2px;
  outline: none;
  transition: var(--focus-transition), background-color 0.15s;

  &:hover:not(:disabled) {
    background-color: var(--grey);
  }

  &:focus:not(:disabled) {
    @include focus-shadow;
  }
}

a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  outline: none;
  transition: var(--focus-transition);

  &:focus {
    @include focus-shadow;

    button {
      @include focus-shadow;
    }
  }
}
